# Python
venv/
__pycache__/
**/__pycache__/
**/migrations/

# Node
node_modules/

package-lock.json

# VSCode
.vscode/

# SQLite DB
*.sqlite3
backend/db.sqlite3

# MacOS
.DS_Store

# Logs
*.log

# Others
*.env
db.sqlite3

content_files/

db.sqlite3